.movies-card {
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-direction: row;
    justify-content: space-between;
    background: #F9F9F9;
}

.movies-card__card {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  height: 122px;
  width: 200px;
  object-fit: contain;
}

.movies-card__link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
  height: 100%;
}

.movies-card__figcaption {
  box-sizing: border-box;
  margin: 0 10px;
  padding: 14px 0 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movies-card__card-title {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  align-self: left;
}

.movies-card__like-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url('../../images/unliked-button.svg');
  background-size: contain;
  width: 14px;
  height: 12px;
}

.movies-card__like-button:hover {
  opacity: .8;
  cursor: pointer;
  background-image: url('../../images/liked-button.svg');
}

.movies-card__like-button_active {
  background-image: url('../../images/liked-button.svg');
}

.movies-card__like-button_invisible {
  display: none;
}

.movies-card__close-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url('../../images/close-button.svg');
  background-size: contain;
  width: 24px;
  height: 24px;
}

.movies-card__close-button_invisible {
  display: none;
}

.movies-card__close-button:hover {
  opacity: .8;
  cursor: pointer;
}

.movies-card__duration {
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #A0A0A0;
}

@media screen and (max-width: 800px) {
  .movies-card__card-title {
    font-size: 13px;
    line-height: 1.23;
  }
}

@media screen and (max-width: 500px) {
  .movies-card__card {
    width: 100%;
  }

  .movies-card__card-title {
    font-size: 12px;
    line-height: 1.25;
  }

  .movies-card__duration {
    font-size: 11px;
    line-height: 1.2;
  }
}