.movies-card {
  width: 100%;
  padding: 0;
  margin: 0 0 40px;
  background: #F9F9F9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__content{
  display: flex;
  flex-direction: column;
  margin: 22px;
  justify-content: space-between;
}

.movies-card__info{
  display: flex;
  flex-direction: column;
}

.movies-card__image-link {
display: flex;
}

.movies-card__image-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movies-card__image-link:focus {
  outline: none;
}

.movies-card__image {
  width: 220px;
    height: 122px;
    margin: 6px;
    border: none;
    background-size: cover;
}

.movies-card__title {
font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 13px;
}

.movies-card__button {
  width: 14px;
  height: 12px;
  margin-top: 30px;
      border: none;
}

.movies-card__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movies-card__button:focus {
  outline: none;
}

.movies-card__button_type_save {
  background: center url('../../images/unliked-button.svg') transparent no-repeat;
}

.movies-card__button_type_clicked-save {
  background: center url('../../images/liked-button.svg') transparent no-repeat;
}

.movies-card__button_type_delete {
  background: center/16px 16px url('../../images/closeMenuButton.svg') transparent no-repeat;
}

.movies-card__duration {
  grid-row: 3;
  grid-column: 1;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #a0a0a0;
  padding: 0;
}


@media screen and(max-width: 768px) {
  .movies-card{
    margin-bottom: 4.84%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.movies-card__image {
  
    height: 122px;
    margin: 6px;
    border: none;
    background-size: cover;
}
}
@media screen and (max-width: 520px) {

  .movies-card{
      margin-bottom: 4.84%;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: flex-start;
  }

  .movies-card__content{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 92%;
      justify-content: space-between;
      margin: 4% 12px;
  }

      .movies-card__image{
      width: 100%;
      height: auto;
      margin: 0;
  }

  .card__title{
      font-size: 15px;
      line-height: 18px;
      margin: 0 0 10px;
  }

  .movies-card__button{
    margin: 3px 5px 0 0;
}
}

@media screen and (max-width: 420px) {


  .movies-card{
      margin-bottom: 6.66%;
  }

  .card__title{
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 8px;
  }
  .movies-card__button{
    margin: 2px 4px 0 0;
}
}