
.search {
  margin: 80px 5.46% 10px;
  padding-bottom: 39px;
  border-bottom: #E8E8E8 1px solid;
}

.search__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.search__form-block {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 44px;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 50px;
  margin: 0 0 2.52%;
  padding: 0;
  border: none;
}

.search__input {
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 8px;
  background: #F9F9F9;
  padding-left: 20px;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #A0A0A0;
}

.search__input:focus::placeholder{
  color: transparent;
}

.search__button-img {
  padding: 0;
}

.search__error {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  margin: -18px 0 5px;
  height: 14px;
  color: #ee3465;
  display: block;
  width: 50%;
}

.search__button {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
}

.search__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 1110px) {

  .search{
      margin: 70px 4.18% 10px;
  }

  .search__form-block{
      margin-bottom: 4.06%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search {
    margin: 70px 3.9% 10px;
  }
  
  .search__form-block {
    margin-bottom: 5.65%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search {
    margin: 80px 4.375% 10px;
  }
  
  .search__input {
    padding: 1.26% 0 1.26% 5.46%;
  }

  .search__button {
    min-height: 44px;
    min-width: 80px;
    margin: 6px;
  }

  .search__form-block {
    margin-bottom: 15.75%;
  }
}